body {
  background-color: #bca88e; /* Nude */
  color: #333;
}

.formulario-fondo {
  background-color: #e3e8e9; /* Misty Blue */
}

.titulo2 {
  color: #9da993; /* Sage Green */
  font-weight: bolder;
  text-align: center;
}

.titulo3 {
  color: #e4b4b4; /* Rosewater */
  font-weight: bolder;
  text-align: center;
}

.etiqueta {
  font-weight: 600;
  color: #9da993; /* Sage Green */
}

.btn-outline-success {
  background-color: #e4b4b4; /* Rosewater */
  color: white;
  border: none;
}

.btn-outline-success:hover {
  background-color: #9da993; /* Sage Green */
}

.btn-outline-warning {
  background-color: #9da993; /* Sage Green */
  color: white;
  border: none;
}

.btn-outline-warning:hover {
  background-color: #bca88e; /* Nude */
}


